@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0; /* Remove default body margin */
  font-family: "Nunito Sans", sans-serif;
  span,
  .page-content-container,
  p {
    color: black;
    font-family: "Nunito Sans", sans-serif;
  }
}

.app-container {
  .appbar-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #00000028;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 0.3rem;

    button {
      &:focus {
        //   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        //     rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      }
    }
    button.left-content {
      width: 100px;
      border: 1px solid;
      padding: 0;
      outline: 0;
      border: 0;
      img {
        width: 100px;
        height: auto;
      }
    }
    button.middle-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 0;
      img.av {
        width: 25px;
        height: 25px;
      }
      span {
        text-align: left;
        letter-spacing: 0px;
        color: #878787;
        opacity: 1;
        font-family: "Nunito Sans", sans-serif;
      }
      img.arr {
        width: 20px;
      }
    }
    div.right-content {
      @include flex-center();
      justify-content: space-between;
      width: 8%;
      button {
        padding: 0;
        outline: 0;
        border: 0;
        img {
          border-radius: 100%;
        }
      }
      button.plus-btn {
      }
      button.alert-btn {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0px; /* Adjust this value to position the bullet vertically */
          right: 0px; /* Adjust this value to position the bullet horizontally */
          width: 10px; /* Adjust the width of the bullet */
          height: 10px; /* Adjust the height of the bullet */
          background-color: #0084a8; /* Set the color of the bullet */
          border-radius: 50%; /* Make the bullet circular */
          display: block;
          z-index: 1; /* Ensure the bullet is on top of the button content */
        }
      }
      button.fem-avatar-btn {
      }
    }
  }
  .content-container {
    overflow-y: auto; /* Allow content to scroll if needed */
    flex-direction: row;
    display: flex;
    aside.sidebar-container {
      // border: 1px solid red;
      margin-top: 3rem;
      border: 1px solid rgb(239, 239, 239);
      box-shadow: 5px 0px 7px #00000012;
      .ps-sidebar-container {
        nav {
          ul {
            li {
              a {
                background: #ffffff 0% 0% no-repeat padding-box;
                box-shadow: 5px 0px 7px #00000012;
                opacity: 1;
                padding: 1.2rem;
                padding-left: 0;
                span {
                  text-align: left;
                  letter-spacing: 0px;
                  color: #878787;
                  opacity: 1;
                  font-size: 12px;
                  &.ps-menu-label {
                    @include flex-center();
                    justify-content: space-evenly;
                    font-family: "Nunito Sans", sans-serif;
                  }
                }
                &:focus {
                  background: #0084a8 0% 0% no-repeat padding-box;
                  opacity: 1;
                  transition: background 0.45s ease; /* Add transition property */
                  span {
                    color: white !important;
                    font-size: 13px;
                  }
                }
                &:hover {
                  background: #0084a857 0% 0% no-repeat padding-box;
                  opacity: 1;
                  transition: background 0.45s ease; /* Add transition property */
                  span {
                    color: white !important;
                    font-size: 13px;
                  }
                }

                // img {}
              }
              &.sub-menu-elem {
                a {
                  padding-left: 2rem;
                  img {
                    position: relative;
                    left: 0.7rem;
                  }
                  span {
                    // display: none;
                  }
                  &:hover {
                    opacity: 1;
                    transition: background 0.45s ease; /* Add transition property */
                    span {
                      color: black !important;
                      font-size: 13px;
                    }
                  }
                  &:focus {
                    opacity: 1;
                    transition: background 0.45s ease; /* Add transition property */
                    span {
                      color: black !important;
                      font-size: 13px;
                      font-weight: bolder;
                    }
                  }
                }
                .ps-menuitem-root {
                  position: relative;
                  &:hover {
                    &::before {
                      content: "";
                      position: absolute;
                      top: 20px; /* Adjust this value to position the bullet vertically */
                      right: 210px; /* Adjust this value to position the bullet horizontally */
                      width: 10px; /* Adjust the width of the bullet */
                      height: 10px; /* Adjust the height of the bullet */
                      background-color: #0084a8; /* Set the color of the bullet */
                      border-radius: 50%; /* Make the bullet circular */
                      display: block;
                      z-index: 1; /* Ensure the bullet is on top of the button content */
                    }
                  }
                }
                span {
                }
              }
              &.partner-menuitem {
                a {
                  padding-left: 2rem;

                  span {
                  }
                }
              }
            }
          }
        }
      }
    }
    .page-content-container {
      width: 100%;
    }
  }
}

// .nunito-sans-<uniquifier> {
//     font-family: "Nunito Sans", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//     font-variation-settings:
//       "wdth" 100,
//       "YTLC" 500;
//   }

.ps-menuitem-root {
  &.ps-submenu-root {
    &.ps-open {
      &.sub-menu-elem {
        .ps-submenu-content {
          // display: none ;
          ul {
            li {
              a {
                &:hover {
                  background: none !important;
                  span {
                    color: white !important;
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// -----------------------------------
.params-recap-table-container {
  width: 100vw;
  overflow-x: hidden;
  background: #f2f2f2 0% 0% no-repeat padding-box;

  p {
    color: #000000;
    font-weight: 900;
    margin: 3rem 0 3rem 3rem;
    font-size: 30px;
  }
  .table-and-header {
    // box-shadow: 5px 0px 7px #00000012;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px #0000001a;
    border-radius: 8px;
    opacity: 1;
    // width: 100vw;
    width: 94%;
    margin: 1rem 0rem 100rem 1.5rem;

    .table-header {
      @include flex-center();
      justify-content: space-between;
      width: 100vw;

      // align-items: center;
      .table-label {
        letter-spacing: 0px;
        color: #000000;
        font-weight: bolder;
        font-size: 20px;
        margin-left: 2rem;
        // width: 20%;
      }
      .header-actions {
        width: 100%;
        // max-width: 90%;
        margin-right: 2rem;
        @include flex-center();
        // align-self: flex-end;
        .upload-button {
          background: #0084a8 0% 0% no-repeat padding-box;
          box-shadow: 0px 3px 5px #0000001a;
          border-radius: 50px;
          opacity: 1;
          width: 14%;
          padding: 0.2rem 0.2rem !important;
          @include flex-center();
          cursor: pointer;
          transition: transform 0.5s ease;
          &:hover .cloud-icon,
          &:focus .cloud-icon {
            transform: translateY(4px); // Same value as in the button
          }

          &:hover .cloud-icon {
            transition: transform 1s ease; // Adjust the duration for a slower effect
          }

          &:focus .cloud-icon {
            transition: transform 1s ease; // Adjust the duration for a slower effect
          }

          .cloud-icon {
            transition: transform 0.5s ease; // Ensure the same duration and easing function as in the button
          }
          span {
            letter-spacing: 0px;
            color: #ffffff;
            font-size: small !important;
            // border: 1px solid red;
          }
        }
        .search-input-container {
          margin: 2rem;
          margin-left: 0.8rem;
          display: flex;
          align-items: center;
          position: relative;
          width: 300px;
          div.search-prefix,
          div.search-suffix {
            display: flex;
            align-items: center;
            position: absolute;
            height: 100%;
            .vertical-border {
              width: 1px;
              height: 50%;
              background-color: #ccc;
              position: absolute;
              top: 25%;
              bottom: 25%;
              left: 40px;
              button {
                padding: 0 !important;
              }
            }
          }
          .search-prefix {
            left: 15px;
          }

          .search-suffix {
            right: 5px;
          }
          .search-input {
            flex: 1;
            padding: 5px;
            height: 2rem;
            padding-left: 75px; /* Ensure space for magnifier */
            background: #ffffff 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 7px #0000001a;
            border-radius: 16px;
            opacity: 100;
            font-family: "Nunito Sans", sans-serif;
            outline: 0;
            border: 0;
            &::placeholder {
              color: #c6c6c6;
            }

            &:hover {
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            &:focus {
              box-shadow: rgba(0, 0, 0, 0.64) 0px 3px 8px;
            }
          }
        }
      }
    }
    table.certif-table {
      padding-left: 0;
      width: 100%;
      thead.t-header {
        tr.t-row {
          th.t-head {
            // font-size: 15px;

            button.arrow-button {
              position: relative;
              overflow: hidden;
              margin: 0 auto;
              padding: 0.05rem;
              width: 100%;
              display: flex;
              justify-content: space-around;
              &.arrow-button-length__12 {
                justify-content: space-between;
              }
              &.arrow-button-exp {
                max-width: 91%;
              }
              &.arrow-button-appre {
                .arrow-icon {
                  img {
                    position: relative;
                    left: 7px;
                  }
                }
              }
              &.arrow-button-gener {
                max-width: 88%;
              }
              &.arrow-button-forma {
                max-width: 70%;
              }
              &.arrow-button-actions {
                max-width: 55%;
              }
              &.arrow-button-certif {
                max-width: 90%;
              }

              span {
                font-size: 15px;
                color: #878787;
                font-weight: bold;
                font-family: "Nunito Sans", sans-serif;
              }
              div.arrow-icon {
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
                transition: transform 0.3s ease; /* Add smooth transition */
                img {
                  position: relative;
                  top: 2px;
                }
              }

              &.desc .arrow-icon {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
        }
      }
      tbody.t-body {
        tr.t-body-row {
          td {
            text-align: center;
            // margin: 0 auto;
            font-size: 12px;
            color: #878787;
            font-family: "Nunito Sans", sans-serif;
            .action-btns-container {
              @include flex-center();
              button.trash-btn {
                &:hover {
                  transform: translateY(5%);
                  // transform: scale(1.05);
                  transition: transform 0.6s ease; /* Add smooth transition */
                }
              }
            }
          }
        }
      }
    }
  }
}
